<?xml version="1.0" encoding="UTF-8"?>
<!-- https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "de.mark-a-spot.open311-Helsinki"
        version   = "0.1.0">
    <name>Kerro meille</name>

    <description>
        The app provides Open311 based public issue tracking for Helsinki
    </description>

    <author href="http://mark-a-spot.org" email="support@markaspot.org">
        Holger Kreis
    </author>

    <gap:platforms>
       <gap:platform name="android" minVersion="2.1" />
    </gap:platforms>



    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/file" />

    <preference name="phonegap-version" value="2.9.0" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <preference name="permissions" value="camera"/>

    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="show-splash-screen-spinner" value="false" />

    <icon src="icon.png" />
    <icon src="resources/icons/android/36.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="resources/icons/android/48.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="resources/icons/android/72.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="resources/icons/android/96.png"   gap:platform="android"    gap:density="xhdpi" />
<!--
    <icon src="resources/icons/blackberry/icon-80.png"     gap:platform="blackberry" />
    <icon src="resources/icons/blackberry/icon-80.png"     gap:platform="blackberry" gap:state="hover"/>
 -->
    <icon src="resources/icons/ios/AppIcon29x29.png"      gap:platform="ios"        width="29" height="29" />
    <icon src="resources/icons/ios/AppIcon29x29@2x.png"   gap:platform="ios"        width="58" height="58" />
    <icon src="resources/icons/ios/AppIcon72x72.png"      gap:platform="ios"        width="72" height="72" />
    <icon src="resources/icons/ios/AppIcon40x40.png"      gap:platform="ios"        width="40" height="40" />
    <icon src="resources/icons/ios/AppIcon40x40@2x.png"   gap:platform="ios"        width="80" height="80" />
    <icon src="resources/icons/ios/AppIcon60x60.png"      gap:platform="ios"        width="60" height="60" />
    <icon src="resources/icons/ios/AppIcon60x60@2x.png"   gap:platform="ios"        width="120" height="120" />
    <icon src="resources/icons/ios/AppIcon76x76@2x.png"   gap:platform="ios"        width="152" height="152" />
   <!--  <icon src="resources/icons/webos/icon-64.png"          gap:platform="webos" />
    <icon src="resources/icons/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="resources/icons/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" /> -->

    <!--<gap:splash src="res/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="res/screen/blackberry/screen-225.png"         gap:platform="blackberry" /> -->
    <gap:splash src="resources/startup/apple-touch-startup-image-320x480.png" width="320" height="480" />
    <gap:splash src="resources/startup/apple-touch-startup-image-640x960.png" width="640" height="960" />
    <gap:splash src="resources/startup/apple-touch-startup-image-640x1136" gap:platform="ios" width="640" height="1136"/>
    <gap:splash src="resources/startup/apple-touch-startup-image-768x1004" gap:platform="ios" width="768" height="1004"/>
    <gap:splash src="resources/startup/apple-touch-startup-image-1024x768.png" width="1024" height="768" />
    <gap:splash src="resources/startup/apple-touch-startup-image-768x1024.png" width="768" height="1024" />
</widget>
